table{
margin-left: auto;
margin-right: auto;
}
img{
border-radius:25%;
border-radius: 15px;
border: 1px solid #ddd;
border-radius: 10px;
padding: 10px;
opacity:80%;
}
img:hover {
  box-shadow: 0 0 30px 20px rgba(0, 140, 186, 0.5);
}
td{

color: white;
}
body
{
font-family: "Lucida Console", "Courier New", monospace;
table-position: center;
text-align:center;
background-size: 100% 100%;
background-color: white;
background-image: url("4.png");
}
li{
background-color: SlateBlue;
color: white;
background-image: url("2.png");
background-repeat: no-repeat;
background-size: 100% 100%;
}
p{
color: white;
font-family: "Lucida Console", "Courier New", monospace;
font-size: 30px;
}
h1{
background-color: SlateBlue;
text-decoration: underline;
color: white;
font-family: "Lucida Console", "Courier New", monospace;
font-size: 40px;
}
h2{
background-color: SlateBlue;
text-decoration: underline;
color: white;
}
table, th, td, ul, li {
  border: 1px solid SlateBlue;
}